@model IEnumerable<DBS_services.Models.Booking>
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Bookinglist";
    ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("CName");
}

<nav class="navbar navbar-expand-lg" style="float: right;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a id="manage" class="nav-link text-dark" asp-controller="" asp-action="" title="Manage">Hello @ViewBag.Data!</a>
            </li>
            <li class="nav-item active">
                <a id="manage" class="btn btn-success nav-link text-dark" asp-controller="CBooking" asp-action="Book" title="Manage">Book</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="btn btn-warning nav-link text-dark" asp-controller="History" asp-action="CancelCusHistory" title="Manage">CancelledBooking</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary ml-lg-3" id="login" asp-area="" asp-controller="Customer" asp-action="Logout"> Logout </a>
            </li>
        </ul>
    </div>
</nav>


<h1>ViewBooking</h1>


<table class="table">
    <thead>
        <tr  style = "font-size:20px" >
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelivaryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicKupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style = "font-size:16px">
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelivaryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicKupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
             
            <td>
                @Html.ActionLink("Edit", "EditBooK","CBooking", new  {  id=item.OrderId}) |
               @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Cancel", "Cancel","CBooking", new { id=item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
