@model DBS_services.Models.Booking
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Cancel";
    ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("CName");
}


<nav class="navbar navbar-expand-lg" style="float: right;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         @*   <li class="nav-item active">
                <a id="manage" class="nav-link text-dark" asp-controller="CBooking" asp-action="Book" title="Manage">Book</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-controller="History" asp-action="CancelCusHistory" title="Manage">CancelledBooking</a>
            </li>*@
            <li class="nav-item active">
                <a id="manage" class="nav-link text-dark" asp-controller="" asp-action="" title="Manage">Hello @ViewBag.Data!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary ml-lg-3" id="login" asp-area="" asp-controller="Customer" asp-action="Logout"> Logout </a>
            </li>
        </ul>
    </div>
</nav>

<h1>Cancel</h1>
<hr/>

<h3>Are you sure you want to Cancel this Booking?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
       
    </dl>
    
    <form asp-action="DeleteCancel" asp-controller="CBooking" asp-route-id=@Model.OrderId>
        <input type="submit" value="Cancel" class="btn btn-danger" onclick="cancelSuccess()" /> 
       
    </form>
    <script>
        function cancelSuccess(){
            alert("Your Order has been Cancelled Succesfully")
        }
    </script>
   
</div>
