@model IEnumerable<DBS_services.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelivaryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicKupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelivaryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicKupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OrderId}) |
                    @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
