@model DBS_services.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelivaryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelivaryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicKupTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicKupTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.OrderId  }) |
    <a asp-action="Index">Back to List</a>
</div>
